services:
  web:
    build:
      context: ../../
      dockerfile: apps/web/Dockerfile
    container_name: axp-web
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=${NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NEXT_PUBLIC_CLIENTE_ID=${NEXT_PUBLIC_CLIENTE_ID}
      - R2_ACCOUNT_ID=${R2_ACCOUNT_ID}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true
      - traefik.http.routers.axp-web.rule=Host(`www.axp.com.ar`)
      - traefik.http.routers.axp-web.entrypoints=websecure
      - traefik.http.routers.axp-web.tls.certresolver=letsencrypt
      - traefik.http.services.axp-web.loadbalancer.server.port=8080
      - traefik.http.routers.axp-web-http.rule=Host(`www.axp.com.ar`)
      - traefik.http.routers.axp-web-http.entrypoints=web
      - traefik.http.routers.axp-web-http.middlewares=redirect-to-https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
    restart: unless-stopped

networks:
  dokploy-network:
    external: true
